annotated-types
anyio
bcrypt
beautifulsoup4
boto3
botocore
bs4
bson
certifi
charset-normalizer
click
colorama
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
httpcore
httpx
idna
jmespath
loguru
motor
numpy
pandas
passlib
Pillow
playwright
pyasn1
pydantic
pydantic_core
pyee
pymongo
python-dateutil
python-dotenv
python-jose
pytz
requests
rsa
s3transfer
setuptools
six
sniffio
soupsieve
starlette
typing_extensions
tzdata
urllib3
uvicorn[standard]
win32-setctime
python-multipart
